.chart{
    flex: 4;
    padding: 10px;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.35);
    color: grey;
    
    .title{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
        
    }
  
}