.single {
    display: flex;
    width: 100%;

    .singleContainer {
        flex: 6;
    }

    .top {
        display: flex;
       
        padding: 20px;
        gap: 20px;

        .left {
         

            padding: 10px;
            flex: 1;
            box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.35);
            -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.35);
            -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.35);
            position: relative;
            width: 100%;

               .title {
                font-size: 16px;
                color: grey;
            }

            .editButton {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px;
                font-size: 12px;
                color: royalblue;
                background-color: rgb(244, 250, 255);
                margin-right: 5px;
                cursor: pointer;
                border-radius: 5px;
            }

            .item {
                display: flex;
                padding: 20px;

                .details {
                    margin-left: 10px;

                    .avatar {

                        margin-right: 10;
                    }

                    .name {
                        margin-bottom: 10px;
                        color: rgb(85, 85, 85);
                        margin: 10px;
                    }

                    .itemDetail {
                        margin-bottom: 10px;
                        font-size: 15px;
                        color: grey;
                    }

                    .itemKey {
                        font-weight: 500;
                        margin-right: 5px;
                    }

                    .itemValue {
                        font-weight: 300;
                    }
                }
            }
        }

        .right {
            flex: 2;
        }

    }
}